@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets/fonts/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets/fonts/NotoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overscroll-behavior-y: contain;
  height: -webkit-fill-available;
  /*width: 100%;
  height: 100vh;
  background-color: #ccc;
-ms-overflow-style: none;
  scrollbar-width: none;*/
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
  width: 0 !important;
}
#root {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* filter */
.filter-gray30 {
  filter: invert(73%) sepia(71%) saturate(1%) hue-rotate(7deg) brightness(110%)
    contrast(86%);
}
